<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MannusBackup" type="MannusBackup.Configuration.MannusBackupConfiguration, MannusBackup, Version=1.0.0.0,Culture=neutral"/>
    <section name="MannusBackupService" type="MannusBackup.Configuration.MannusBackupServiceConfiguration, MannusBackup, Version=1.0.0.0,Culture=neutral"/>
    <section name="MannusBackupFtpIndexer" type="MannusBackup.Configuration.MannusBackupFtpIndexerConfiguration, MannusBackup, Version=1.0.0.0,Culture=neutral"/>
  </configSections>
  <connectionStrings>
    <add name="MannusEntities" connectionString="metadata=res://*/MannusBackupEntities.csdl|res://*/MannusBackupEntities.ssdl|res://*/MannusBackupEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql.mannus.nl;user id=mannusnl;password=s6ITzi4EYGc;persist security info=True;database=mannusnl&quot;" providerName="System.Data.EntityClient" />
    <add name="mysql" connectionString="Server=mysql.mannus.nl;Database=mannusnl;Uid=mannusnl;Pwd=s6ITzi4EYGc"/>
    <add name="lokaal" connectionString="Server=localhost;Database=mannus;Uid=root;Pwd=zdmsddb"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp>
<!--        <network host="arcmail2.esrinl.com" password="Sydney2012" port="25" userName="etten" clientDomain="logisterion"/>-->
      </smtp>
    </mailSettings>
  </system.net>
  <MannusBackup>
    <Configuration>
      <ConfigurationProperty key="test" value="false"/>
      <ConfigurationProperty key="basebackupdirectory" value="c:\backup"/>
      <ConfigurationProperty key="minimumavailablediskspace" value="20"/>
      <ConfigurationProperty key="mysqlservice" value="MySQL"/>
      <!--      <ConfigurationProperty key="backupgoogle" value="true" />-->
      <ConfigurationProperty key="backupdatabase" value="true"/>
      <ConfigurationProperty key="backupftp" value="true"/>
      <ConfigurationProperty key="nameofcdrive" value="local disk"/>
      <ConfigurationProperty key="minimalfilesforcleanup" value="5"/>
      <ConfigurationProperty key="prefix" value="laptop"/>
      <ConfigurationProperty key="hostname" value="laptop"/>
      <ConfigurationProperty key="connectionstring" value="mysql"/>
      <ConfigurationProperty key="tomailaddress" value="mannus@mannus.nl"/>
      <ConfigurationProperty key="xsltmailtemplate" value="D:\Dropbox\prive projecten\MannusBackup\MannusBackup\backupresultmail.xslt"/>
    </Configuration>
    <Drives>
      <Drive key="MannusBackup"/>
      <Drive key="Local Disk"/>
      <Drive key="MannusLaptop"/>
      <Drive key="Data"/>
    </Drives>
    <!--
    <Google key="google" username="metten@esri.nl" password="zdmsddb1979" timeout="60"/
    -->
    <FtpSites>
      <FtpSite key="mannusnl" ftpaddress="ftp.mannus.nl" username="mannus.nl" password="zdmsddb" timeout="60" removeaftercompletion="true"/>
      <FtpSite key="basketbalnieuws" ftpaddress="ftp.basketbalnieuws.nl" username="basketbalnieuws.nl" password="zdmsddb" timeout="60" removeaftercompletion="true"/>
    </FtpSites>
    <Databases>
      <Database key="basketbalnieuws" database="basketbalnieuws" host="mysql.basketbalnieuws.nl" username="basketbalnieuws" password="zdmsddb" timeout="5" removeaftercompletion="true"/>
      <Database key="mannus" database="mannusnl" host="mysql.mannus.nl" username="mannusnl" password="s6ITzi4EYGc" timeout="5" removeaftercompletion="true"/>
      <Database key="mannus_lokaal" database="mannus" host="localhost" username="root" password="zdmsddb" timeout="5" removeaftercompletion="true"/>
    </Databases>
    <Exclusions>
      <Exclusion key="a" value=".db" exclusiontype="FileExtension" type="XCopy" childkey="foto"/>
      <Exclusion key="b" value="iPod Photo Cache" exclusiontype="Directory" type="XCopy" childkey="foto"/>
      <Exclusion key="c" value="save games" exclusiontype="Directory" type="XCopy" childkey="documenten"/>
      <Exclusion key="d" value="Miriam" exclusiontype="Directory" type="XCopy" childkey="foto"/>
      <Exclusion key="e" value="Willianne" exclusiontype="Directory" type="XCopy" childkey="foto"/>
      <Exclusion key="f" value="Mijn Google Gadgets" exclusiontype="Directory" type="XCopy" childkey="mydocuments"/>
      <Exclusion key="g" value="My Received Files" exclusiontype="Directory" type="XCopy" childkey="mydocuments"/>
      <Exclusion key="h" value="Visual Studio 2008" exclusiontype="Directory" type="XCopy" childkey="mydocuments"/>
      <Exclusion key="i" value="Visual Studio 2010" exclusiontype="Directory" type="XCopy" childkey="mydocuments"/>
      <Exclusion key="j" value="Google Data API SDK" exclusiontype="Directory" type="XCopy" childkey="mydocuments"/>
      <Exclusion key="k" value="ConverterLogs" exclusiontype="Directory" type="XCopy" childkey="mydocuments"/>
      <Exclusion key="l" value="desktop.ini" exclusiontype="File" type="XCopy" childkey="desktop"/>
      <Exclusion key="m" value="desktop.ini" exclusiontype="File" type="XCopy" childkey="mypictures"/>
      <Exclusion key="n" value="Slide Shows" exclusiontype="Directory" type="XCopy" childkey="mypictures"/>
      <Exclusion key="o" value="My Pictures" exclusiontype="Directory" type="XCopy" childkey="mydocuments"/>
      <Exclusion key="p" value="My Videos" exclusiontype="Directory" type="XCopy" childkey="mydocuments"/>
      <Exclusion key="q" value="My Music" exclusiontype="Directory" type="XCopy" childkey="mydocuments"/>
      <Exclusion key="r" value="Mailarchief" exclusiontype="Directory" type="XCopy" childkey="mydocuments"/>
      <Exclusion key="s" value="microsoft" exclusiontype="Directory" type="XCopy" childkey="studie"/>
      <Exclusion key="t" value="Nella" exclusiontype="Directory" type="XCopy" childkey="foto"/>
    </Exclusions>
    <ZipFiles>
      <ZipFile key="website_mannusnl" type="Website" childkey="mannusnl"/>
      <ZipFile key="website_basketbalnieuws" type="Website" childkey="basketbalnieuws"/>
      <ZipFile key="database_mannusnl" type="Database" childkey="mannus"/>
      <ZipFile key="database_basketbalnieuws" type="Database" childkey="basketbalnieuws"/>
      <ZipFile key="database_mannusnl_ontwikkel" type="Database" childkey="mannus_lokaal"/>
      <!--
      <ZipFile key="googledocs" type="GoogleDocs" childkey="google"/>
-->
    </ZipFiles>
    <BackupLocations>
      <Directory key="documenten" drive="MannusBackup" location="documenten" timeout="180"/>
      <Directory key="foto" drive="MannusBackup" location="foto's" timeout="180"/>
      <Directory key="desktop" drive="Local Disk" location="Users\etten\Desktop" timeout="120"/>
      <Directory key="dropbox" drive="MannusLaptop" location="Mannus\Dropbox" timeout="120"/>
      <Directory key="mypictures" drive="MannusLaptop" location="Mannus\MyPictures" timeout="120"/>
      <Directory key="mydocuments" drive="MannusLaptop" location="Mannus\MyDocuments" timeout="120"/>
      <Directory key="mailarchief" drive="MannusLaptop" location="Mannus\Mailarchieven\BackupMailArchieven" timeout="120"/>
      <Directory key="projecten" drive="MannusLaptop" location="projecten" timeout="120"/>
      <Directory key="studie" drive="MannusLaptop" location="studie" timeout="120"/>
      <Directory key="prototypes" drive="MannusLaptop" location="prototypes" timeout="120"/>
      <Directory key="basketballsavegame" drive="Local Disk" location="Users\etten\AppData\Roaming\2K Sports" timeout="120"/>
    </BackupLocations>
  </MannusBackup>
  <MannusBackupService usblistentime="1" basebackupdirectory="D:\backups" test="true">
    <UsbDrives>
      <UsbDrive key="MannusBackup" backupdirectory="backup" numberofbackups="5"/>
      <UsbDrive key="EsriNederlandUsb" backupdirectory="backup" numberofbackups="5"/>
    </UsbDrives>
  </MannusBackupService>
  <MannusBackupFtpIndexer test="true">
    <FtpSites>
      <FtpSite key="mannusnl" ftpaddress="ftp.mannus.nl" username="mannus.nl" password="zdmsddb" timeout="30" removeaftercompletion="true"/>
      <FtpSite key="basketbalnieuws" ftpaddress="ftp.basketbalnieuws.nl" username="basketbalnieuws.nl" password="zdmsddb" timeout="30" removeaftercompletion="true"/>
    </FtpSites>
  </MannusBackupFtpIndexer>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
