<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MannusEntities" connectionString="metadata=res://*/MannusBackupEntities.csdl|res://*/MannusBackupEntities.ssdl|res://*/MannusBackupEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;user id=mannusbeheer;server=46.182.176.160;password=$Pn457pC_*CU6xu;persist security info=True;database=mannus_backup&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>