<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MannusBackupEntities" connectionString="metadata=res://*/MannusBackupModel.csdl|res://*/MannusBackupModel.ssdl|res://*/MannusBackupModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql.mannus.nl;User Id=mannusnl;Persist Security Info=True;password=s6ITzi4EYGc;database=mannusnl&quot;" providerName="System.Data.EntityClient" />
    <add name="MannusEntities" connectionString="metadata=res://*/MannusBackupEntities.csdl|res://*/MannusBackupEntities.ssdl|res://*/MannusBackupEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql.mannus.nl;user id=mannusnl;password=s6ITzi4EYGc;persist security info=True;database=mannusnl&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>