<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MannusEntities" connectionString="metadata=res://*/MannusBackupEntities.csdl|res://*/MannusBackupEntities.ssdl|res://*/MannusBackupEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql.mannus.nl;user id=mannusnl;password=s6ITzi4EYGc;persist security info=True;database=mannusnl&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>